:root {
  --spacing: 30px;
  --very-dark: #233142;
  --dark: #455d7a;
  --red: #f95959;
  --eggshell: #e3e3e3;
}

html, body, #root { height: 100%; }

.all {
background-color: var(--eggshell);
}


.container {
  max-width: unset;
}
/* font-family: 'Licorice', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

.home-text,
h2 {
  font-family: 'Montserrat';
  font-weight: bolder;
  color: var(--very-dark);
  padding: 15px 15px 15px 0;
}



p {
  font-family: Open Sans;
  color: var(--dark);
  font-weight: bold;
}

.label {
  font-family: Open Sans;
  color: var(--very-dark);
  font-weight: bold;
}

.project-container {
  padding-top: 15px;
}

.project {

}


.about-text {
  padding:15px;
  font-family: 'Open Sans';
  font-weight: bolder;
  color: var(--dark)
}

.home {
  padding-top: 150px;
}

h3 {
  font-family: 'Montserrat';
  color: var(--dark);
  font-weight: bolder;
}

h5 {
  font-family: "Open Sans";
  color: var(--very-dark)
}

h6 a {
  text-decoration: none;
  color: var(--red)
}

h6 a:hover {
  color: var(--very-dark)
}

.nav {
  background: var(--very-dark);
  padding: 10px;
}

.nav-item {
  background: var(--very-dark);
  border: var(--very-dark);
}

.nav-item:hover {
  background:var(--dark);
}

.nav-item a {
  color: var(--eggshell);
  font-family: 'Montserrat';
  font-weight: bold;
}

.nav-item a.nav-link.active{
  background-color: var(--very-dark);
  color: var(--red)
}

.nav-item a:hover {
  color: var(--red)
}

button {
  background: var(--very-dark);
  color: var(--eggshell);
  font-family: 'Montserrat';
  font-weight: bold;
}

.project-links,
.resume,
.contact-link {
  color: var(--very-dark)
}

.project-links:hover,
.resume:hover,
.contact-link:hover {
  color: var(--red)
}

.fas {
  padding: 10px;
}

.fab,
.far,
.fas {
  color: var(--dark)
}

.contact-link {
  padding:15px;
  font-family: 'Open Sans';
  font-weight: bolder;
  color: var(--dark)
}

ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
}

ul li {
  margin: 1px;
  padding: 5px;
}

.project-img {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  margin:10px;
}

.project-img:hover {
  box-shadow:  5px 5px 8px var(--red);
  transform: scale(1.05);
}

.fab:hover,
.far:hover,
.fas:hover,
ul li:hover {
  color: var(--red);
}

.headshot {
  padding: 30px;
  border-radius: 50%
}

.resume-container {
  padding-top: 20px;
}

.experience-item,
.education-item {
  padding-top: 15px;
}



@media only screen and (max-width: 768px) {
  main {
    width: 100%;
  }
}

.page-footer {
  position: sticky;
  top: 100vh;
}