:root {
  --spacing: 30px;
  --very-dark: #233142;
  --dark: #455d7a;
  --red: #f95959;
  --eggshell:#e3e3e3;
}

.nav{
  background: var(--very-dark)
}

.nav-item{
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-link-active{
  background: var(--red)
}





.headshot {
  height:250px;
  width:250px;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  main {
      width: 100%;
  }
}